{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Католог</h1>
</div>
<div class="container">
    <div class="row text-center">
        <a class="p-3 mb-5 btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Создать</a>
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-5 box-shadow">
                <div class="card-header">
                    <h4 class="my-1 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                    <a class="p-2 mb-1 btn btn-outline-info" href="{% url 'catalog:product_list' object.pk %}">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
