{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <h3 class="card-title">
                        {{ object.name }}
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        {{ object.description }}
                    </p>
                </div>
                <div class="card-footer">
                    <p>
                        {{ product.name_vers }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}